.pasajeros-eliminar-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
  }
  
  .pasajeros-eliminar-title {
    margin-top: 50px;
    margin-bottom: 125px;
  }
  
  .pasajeros-eliminar-form {
    display: flex;
    align-items: center;
  }
  
  .pasajeros-eliminar-label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .pasajeros-eliminar-input {
    flex: 1;
    width: 200px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
  }
  
  .pasajeros-eliminar-btn {
    padding: 10px 20px;
    background-color: #002e5d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pasajeros-eliminar-btn:hover {
    background-color: #001f40;
  }
  
  .pasajeros-eliminar-message {
    font-size: 14px;
    margin-top: 10px;
  }
